
html {
    box-sizing: border-box;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-width: 302px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }
  
  .container {
    width: 100%;
  }
  
  @media (min-width: 992px) {
    .container {
      width: 992px;
    }
  }

 

  /* Header */

.header {
    box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);
}




.header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 16px;
  }

.location {
      display: none;
  }

@media (min-width: 768px) {
    .location {
        display: inline-flex;
        align-items: center;
        width: 100%;
        margin-left: 20px;
        font-size: 13px;
        line-height: 24px;
    }
    
    .location__mobile {
        display: none;
    }

    .location__time, .location__address {
        height: 40px;
        margin-top: 5px;
    }

    .location__title {
        margin-right: 10px;
        margin-left: 10px;
    }
}


  .header__buttons {
      display: flex;
      align-items: center;
  }

  .header__button {
      font-size: 11px;
      line-height: 13px;
      font-weight: 500;
      width: 72px;
      background: none;
      border-radius: 2px;
  }

  @media (min-width: 768px) {
      .header__button {
        font-size: 13px;
        line-height: 24px;
      }
  }

.header__button--sign-up {
      border: 1px solid #E0E0E0;
      color: #1d1d1d;
      padding: 13px 0 12px;
      margin-right: 16px;
  }

.header__button--register {
      background-color: #262626;
      color: #fff;
      padding: 13px 0 12px;
      border: none;
}

@media (min-width: 768px) {
    .header__button {
        padding: 8px 0 8px;
    }
}

.header__button--basket {
    display: none;
}

@media (min-width: 768px) {
    .header__button--basket {
        display: flex;
        width: 19px;
        height: 24px;
        background: url("../images/logo-basket.svg") no-repeat 50% 50%;
        border: none;
        margin-left: 16px;
    }
}

/* main */

.search__input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    color: rgba(98, 98, 98, 0.5);
    padding-left: 24px;
    padding-bottom: 15px;
    vertical-align: middle;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    border-bottom: 1px solid #c4bebe;
    background: url("../images/search.svg") no-repeat 0 1px;
}


.search__input::-webkit-input-placeholder {
    color: rgba(98, 98, 98, 0.5);
}

@media (min-width: 768px) {
    .search__input {
    font-size: 16px;
    line-height: 24px;
    background: url("../images/search.svg") no-repeat 0 5px;
    }
}

.location__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location__label {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
    margin-top: 24px;
    padding-right: 16px;
}

.location__label:last-child {
    padding-right: 0;
}

.location__time {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 13px;
    color: #1d1d1d;
    line-height: 24px;
    padding: 7px 15px;
   
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    background: #fff;
}



.location__address {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #1d1d1d;
    font-size: 13px;
    line-height: 24px;
    padding-left: 36px;
    outline: none;
    background: url(../images/location.svg) no-repeat 12px;
    
    padding: 7px 0 7px 36px;
}

.location__address--mobile, .location__time--mobile {
    margin-top: 8px;
}

@media (min-width: 768px) {
    .restaraunt-list__photo {
        width: 100%;
        
    }
}

.restaraunt-list__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.restaraunt-list__photo {
    width: 100%;
}

@media (min-width: 992px) {
    .restaraunt-list__photo {
        height: 251px;
    }
}

.restaraunt-list__title {
    font-size: 22px;
    line-height: 34px;
    margin-top: 40px;
    margin-bottom: 14px;
    
}

.restaraunt-list__name {
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    margin-top: 14px;
    margin-bottom: 4px;
  }

  .restaraunt-list__category {
      font-size: 14px;
      line-height: 21px;
      color: #626262;
      margin-bottom: 4px;
  }

  .restaraunt-list__time {
      font-size: 13px;
      line-height: 21px;
      color: #626262;
      margin-bottom: 36px;
  }



  /* Footer */

  .footer {
      background-color: #262626;
  }

  .footer__logo {
      padding-top: 53px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      
  }

  .footer__form {
      margin-top: 32px;
  }



  .footer__form-language {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    border: 1px solid #3B3B3B;
    border-radius: 2px;
    font-size: 13px;
    text-transform: uppercase;
    color: #1d1d1d;
    line-height: 15px;
    padding: 12px 71px 12px 48px;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    background: url("../images/select-icon-left.svg") no-repeat 16px, url("../images/select-icon-right.svg") no-repeat 150px;
    color: #fff;
    background-color: #3B3B3B;
  }

  .footer__social {
      margin-bottom: 40px;
      width: 100%;
  }

  .footer__social-title {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .footer__social-title--sharp {
      color: #49A144;
  }
.social__icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
}

.social__icon--fb {
    background: url("../images/logo-fb.svg") no-repeat;
    
}

.social__icon--tw {
    background: url("../images/logo-tw.svg") no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    
}

.social__icon--ig {
    background: url("../images/logo-ig.svg") no-repeat;
}

.footer__nav-list--first,
.footer__nav-list--last {
    list-style: none;
    padding: 0;
    margin: 0;
}


@media (min-width: 768px) {
    .footer__nav-list--first, .footer__nav-list--last {
        margin-top: 32px;
    }
}

.footer__nav-list--last {
    padding-bottom: 17px;
    
}



.footer__nav-list--item {
    font-family: "Roboto", sans-serif;
    margin-bottom: 23px;
}

.footer__nav-list--item a {
    font-size: 13px;
    line-height: 15px;
    color: white;
    text-decoration: none;
}

.footer__app {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    justify-content: center;
}


.footer__app a {
    margin: 25px 12px;
    background-size: cover;
}

@media (min-width: 768px) {
    .footer__app a {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.footer__app-appstore {
    width: 111px;
    height: 37px;
    background: url("../images/logo-appstore.svg") no-repeat center;
    
}

.footer__app-googleplay {
    width: 127px;
    height: 37px;
    background: url("../images/logo-googleplay.svg") no-repeat center;
}

.footer__copyright {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    line-height: 13px;
    padding: 12px 0;
    margin-bottom: 11px;
}

.footer__copyright--first {
    margin-top: 28px;
}

.footer__copyright--last {
    padding-bottom: 12px;
    margin-bottom: 28px;
}

@media (min-width: 768px) {
    .footer__copyright {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.scroll--up {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 16px;
    bottom: 24px;
    background: #59bd5a url("../images/scroll-arrow.svg") no-repeat center;
    border-radius: 2px;
}


